#header{
	
	& .active {
		& a{
			background: darken( $base-button-color, 5% );
		}
	}
	
	& a{
		
		&:hover{
			background: $base-button-color;
			@include single-transition( all, 0.1s, ease-in-out );
		}
	}
	
	& #logo{
		position: relative;
		padding-left: 54px;
		& span{
			display: block;
			
			&.logoName{}
			&.icon{
				position: absolute;
				top: 4px;
				left: 20px;
				@include main-sprite;
				background-position: -70px 0;
				height: 28px;
				width: 28px;
				margin-right: 0.25em;
			}
		}
	}
	
	& li{
		//@include single-transition( background, $base-transition-time, ease-in-out );
	}
	
	& #topLink{
		@include sans-serif;
		cursor: default;
		@include adjust-font-size-to( 9px );
		//@include single-transition( color, $base-transition-time, ease-in-out );		
	}
}



.tooltip-inner{
	@include sans-serif;
	@include adjust-font-size-to(15px, 1.5);
	font-weight: 600;
	padding-left: 1em;
	padding-right: 1em;
}
/*
.popover-title{
	display: none;
}
.popover-content{
	background: #222;
	//@include adjust-font-size-to(22px);
	color: $base-white;
}
*/
article#about.hentry{	
	position: relative;
	//border-bottom: 1px solid lighten( $base-grey, 40% );

	@include box-shadow( 
		$base-grey 0 12px 24px -16px
		//$base-grey 0 -12px 24px -16px
	);
	
	@include background(
		linear-gradient( color-stops(#ccc, #fefefe) )
	);

	@include pie;

	& .mask{
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('../images/dot_bg.png');
		z-index: 0;
	}

	& .wrap{
		position: relative;
		z-index: 1;
		@include padding-leader(2);
		@include padding-trailer(2);
	}
	
	& h2.page-title{
		@include adjust-font-size-to( 76px );
		font-weight: 100;
		//color: $base-grey;
	
		& strong{
			//color: $base-blue;
			cursor: pointer;
			cursor: hand;
			//font-weight: 400;
			text-indent: -9999em;
			@include main-sprite;
			background-position: 0 0;
			height: 48px;
			width: 48px;
			margin-right: 0.25em;
			@include inline-block;
			vertical-align: top;
			@include margin-leader( 0.0625 );
			margin-left: 0.125em;
			@include opacity(0.75);
			
			&:hover{
				@include opacity(1);
			}
		}
		@include padding-trailer(0.25);
	}
	
	& .pic{
		//@include float-right;
		background: white;
		padding: 0.5em;
		@include border-radius( 0.25em );
		@include box-shadow( $base-black 0 3px 12px -3px );
		@include pie;
		min-height: 208px;
		
		//padding-left: 0.5em;
		//padding-right: 0.5em;
		//@include padding-leader(0.25);
		//@include padding-trailer(0.25);

		& img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	
	& .entry-content{
		//font-weight: 600;
				
		& p{
			//@include crimson;
			@include adjust-font-size-to( 16px, 1.5 );
			color: darken( $base-grey, 10% );

			//@include column-count(2);
			//@include column-gap( 30px );
			//orphans: 4;
			//text-align: justify;
			//hyphenate: auto;
			//hyphenate-before: 2;
			//hyphenate-after: 3;
			//hyphenate-lines: 3;

		}
	}
	
	.contact{
		
		&.btn-large{
			@include margin-leader(0.5);
			@include adjust-font-size-to( 30px, 2.75 );
			display: block;
			@include raleway;
			letter-spacing: 2px;
		}
	}
	
	& #fpMenu{
		@include margin-leader(0.5);
		& .well{
			@include padding-leader(0.5);
			@include padding-trailer(0.5);
		}
	}

}


$work-color: lighten( $base-grey, 30% );

section{
	& .section-header{
	
		& .divider{
			@include margin-leader(0.5);
			@include margin-trailer(0.75);
		
			@include raleway;
			font-weight: 100;
			letter-spacing: 2px;
			color: $base-grey;
			@include adjust-font-size-to( 36px );
			border-top: 1px solid $work-color;
			//border-top: none;
			//border-right: none;
			//padding-left: 0.5em;
			
			& span{
				@include adjust-font-size-to( 14px );
				@include inline-block;
				float: left;
				padding-right: 0.5em;
				background: $base-white;
				@include margin-leader( -0.5 );
				
				&.icon{
					display: none;
				}
			}
		}
		
	}
}


#footer{
	height: 600px;
	//background: lighten(desaturate( $blue, 30% ), 30%);
	//background: $grayLighter;
	//background: lighten( desaturate( $orange, 0% ), 20% );
	background: $base-white;
	z-index: 5;
	@include pie;
	background-image: url( '../images/grid-48px.png');
	@include box-shadow( 
		//$base-grey 0 12px 24px -16px,
		$grayDarker 0 -12px 24px -16px
	);
}
